<!-- begin post -->
<div class="col-lg-4 col-md-6 mb-30px card-group">
    <div class="card h-100">
        <div class="maxthumb">
            <a href="{{ .Permalink }}">
                {{ if .Params.image }}
                {{ $imgSrc := .Params.image }}
                {{ if not (strings.HasPrefix $imgSrc "http") }}
                    {{ $imgSrc = printf "%s%s" .Site.BaseURL .Params.image }}
                {{ end }}
                <img class="img-fluid" src="{{ $imgSrc }}" alt="{{ .Title }}">
                {{ end }}
            </a>
        </div>
        <div class="card-body">
            <h2 class="card-title">
                <a class="text-dark" href="{{ .Permalink }}">{{ .Title }}</a>
                {{ if .Params.rating }}
                <div class="mb-2 mt-2 font-weight-normal">
                {{ partial "star_rating_postbox.html" . }}
                </div>
                {{ end }}
            </h2>
            <h4 class="card-text">{{ .Summary | plainify | truncate 150 }}</h4>
        </div>
        <div class="card-footer bg-white">
            <div class="wrapfooter">

                <span class="post-date">{{ .Date.Format "Jan 2, 2006" }}</span>

                  <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!-- end post -->
